@use '@/shared/styles/tokens' as *;

.wrapper {
  border-radius: $space-xxs;
  padding: $space-3xl $space-6xl;
  max-width: $container-max;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-direction: column;
}
