.gallerySkeleton {
  display: flex;
  flex-direction: column;
  gap: space(lg);
  flex: 1;

  .thumbnailRow {
    display: flex;
    gap: space(md);
    flex-wrap: wrap;
  }

  @include respond-below(sm) {
    align-items: center;

    .thumbnailRow {
      justify-content: center;
    }
  }
}

.detailsSkeleton {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: space(md);
  padding: 0 space(3xl);

  @include respond-below(md) {
    padding: 0;
    align-items: center;
    text-align: center;
  }
}

.descriptionSkeleton {
  margin-top: space(6xl);
  display: flex;
  flex-direction: column;
  gap: space(sm);

  @include respond-below(sm) {
    margin-top: space(4xl);
  }
}

.characteristicsSkeleton {
  margin-top: space(6xl);
  display: flex;
  flex-direction: column;
  gap: space(lg);

  .characteristicsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: space(2xl) space(3xl);
  }

  .characteristicsItem {
    background: $color-bg-white;
    border-radius: space(md);
    padding: space(2xl) space(3xl);
  }

  @include respond-below(sm) {
    .characteristicsGrid {
      grid-template-columns: 1fr;
      gap: space(lg);
    }

    .characteristicsItem {
      padding: space(xl) space(2xl);
    }
  }
}
