@use '@/shared/styles/tokens' as *;

.item {
  display: flex;
  gap: $space-3xl;
  align-items: flex-start;
  padding: $space-3xl 0;
  border-bottom: 1px solid $color-border-light;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background: none;
    outline: none;
    text-decoration: none;
  }

  &:last-child {
    border-bottom: none;
  }

  @include respond-below(md) {
    flex-direction: column;
    align-items: center;
  }
}

.imageWrapper {
  flex-shrink: 0;
  width: 250px;
  height: 259px;
  border-radius: $space-sm;
  overflow: hidden;
  background-color: $color-bg-white;
  object-fit: contain;
  object-position: center;

  @include respond-below(md) {
    width: 180px;
    height: 180px;
  }
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: $space-xs;
}

.priceBlock {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
}
